---
http_interactions:
- request:
    method: get
    uri: https://apptracking.northsydney.nsw.gov.au/Pages/XC.Track/SearchApplication.aspx?d=last14days&k=LodgementDate&o=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?><NewDataSet>\r\n  <Application>\r\n    <ApplicationId>010.2019.00000135.001
        </ApplicationId>\r\n    <NatureOfApplication>Development Application</NatureOfApplication>\r\n
        \   <NatureOfApplicationType>10</NatureOfApplicationType>\r\n    <Category>Dwelling
        - Alts &amp; Adds                  </Category>\r\n    <ReferenceNumber>DA
        135/19</ReferenceNumber>\r\n    <ReferenceNumberYear>2019</ReferenceNumberYear>\r\n
        \   <ReferenceNumberNumber>135</ReferenceNumberNumber>\r\n    <Amendment>1</Amendment>\r\n
        \   <ApplicationDetails>Remove existing handrail and replace glazed enclosure
        to ceiling height with aluminium facade. </ApplicationDetails>\r\n    <LodgementDate>2019-05-24T00:00:00+10:00</LodgementDate>\r\n
        \   <EstimatedCost>50000</EstimatedCost>\r\n    <DeterminationTypeCode1>0</DeterminationTypeCode1>\r\n
        \   <DeterminationTypeCode xml:space=\"preserve\">    </DeterminationTypeCode>\r\n
        \   <OfficerPh />\r\n    <Officer>Greg Sherlock</Officer>\r\n    <Title>Planning
        &amp; Development Advisor                    </Title>\r\n    <Days>14</Days>\r\n
        \   <fmt_acc>010.2019.00000135.001 </fmt_acc>\r\n    <doc_typ>10</doc_typ>\r\n
        \   <doc_yer>2019</doc_yer>\r\n    <doc_num>135</doc_num>\r\n    <doc_prt>1</doc_prt>\r\n
        \   <ApplicationIdS>010.2019.00000135.001</ApplicationIdS>\r\n    <Address>\r\n
        \     <PropertyId>38038</PropertyId>\r\n      <ParcelId>38038</ParcelId>\r\n
        \     <ApplicationId>010.2019.00000135.001  </ApplicationId>\r\n      <AssessmentId>315138</AssessmentId>\r\n
        \     <Status>R</Status>\r\n      <SiteName>Northwind</SiteName>\r\n      <UnitNumber>13</UnitNumber>\r\n
        \     <StreetNumber1>93</StreetNumber1>\r\n      <str_nme>Ridge                                   </str_nme>\r\n
        \     <StreetType>St  </StreetType>\r\n      <LocalityName>NORTH SYDNEY</LocalityName>\r\n
        \     <Postcode>2060      </Postcode>\r\n      <CountryName>Australia</CountryName>\r\n
        \     <StateTerritory>NSW</StateTerritory>\r\n      <Suburb>NORTH SYDNEY                       </Suburb>\r\n
        \     <Ward>Stanton                                 </Ward>\r\n      <LotNumber>13
        \                                     </LotNumber>\r\n      <PartLotNumber
        xml:space=\"preserve\">                                        </PartLotNumber>\r\n
        \     <SectionNumber xml:space=\"preserve\">                                        </SectionNumber>\r\n
        \     <PlanNumber>46174                                   </PlanNumber>\r\n
        \     <FullLegalDescription>LOT: 13 SP: 46174</FullLegalDescription>\r\n      <Area>177.0000</Area>\r\n
        \     <AreaUnits>SQUARE METRES                           </AreaUnits>\r\n
        \     <PropertyStatus>R</PropertyStatus>\r\n      <StreetName>Ridge Street</StreetName>\r\n
        \     <Line1>13 / 93 Ridge Street</Line1>\r\n      <Line2>NORTH SYDNEY NSW
        2060</Line2>\r\n      <ApplicationIdS>010.2019.00000135.001</ApplicationIdS>\r\n
        \   </Address>\r\n    <Address>\r\n      <PropertyId>52001</PropertyId>\r\n
        \     <ParcelId>52001</ParcelId>\r\n      <ApplicationId>010.2019.00000135.001
        \ </ApplicationId>\r\n      <AssessmentId>314990</AssessmentId>\r\n      <Status>R</Status>\r\n
        \     <SiteName>Northwind</SiteName>\r\n      <StreetNumber1>93</StreetNumber1>\r\n
        \     <StreetSuffix xml:space=\"preserve\">     </StreetSuffix>\r\n      <str_nme>Ridge
        \                                  </str_nme>\r\n      <StreetType>St  </StreetType>\r\n
        \     <LocalityName>NORTH SYDNEY</LocalityName>\r\n      <Postcode>2060      </Postcode>\r\n
        \     <CountryName>Australia</CountryName>\r\n      <StateTerritory>NSW</StateTerritory>\r\n
        \     <Suburb>NORTH SYDNEY                       </Suburb>\r\n      <Ward>Stanton
        \                                </Ward>\r\n      <LotNumber>0                                       </LotNumber>\r\n
        \     <PlanNumber>46174                                   </PlanNumber>\r\n
        \     <FullLegalDescription>LOT: 0 SP: 46174</FullLegalDescription>\r\n      <Area>2510.0000</Area>\r\n
        \     <AreaUnits>SQUARE METRES                           </AreaUnits>\r\n
        \     <Front>25.33          </Front>\r\n      <Back>56.74          </Back>\r\n
        \     <Side1>73.34          </Side1>\r\n      <Side2>76.92          </Side2>\r\n
        \     <PropertyStatus>R</PropertyStatus>\r\n      <StreetName>Ridge Street</StreetName>\r\n
        \     <Line1>93  Ridge Street</Line1>\r\n      <Line2>NORTH SYDNEY NSW 2060</Line2>\r\n
        \     <ApplicationIdS>010.2019.00000135.001</ApplicationIdS>\r\n    </Address>\r\n
        \   <Party>\r\n      <PersonId>814088</PersonId>\r\n      <ApplicationId>010.2019.00000135.001
        \                            </ApplicationId>\r\n      <lnk_typ>461</lnk_typ>\r\n
        \     <PartyRole>Applicant                               </PartyRole>\r\n
        \     <FamilyName>Holt                                              </FamilyName>\r\n
        \     <GivenName>Pifo </GivenName>\r\n      <Initial>P    </Initial>\r\n      <Title>U</Title>\r\n
        \     <FullName>Pifo Holt</FullName>\r\n      <Line1>U 13  93 Ridge Street
        \                  </Line1>\r\n      <Line2>NORTH SYDNEY  NSW  2060                 </Line2>\r\n
        \     <TelephoneNumber>8033 7281 </TelephoneNumber>\r\n      <ApplicationIdS>010.2019.00000135.001</ApplicationIdS>\r\n
        \   </Party>\r\n    <Event>\r\n      <ApplicationId>010.2019.00000135.001
        </ApplicationId>\r\n      <EventCode>HDRP</EventCode>\r\n      <Description>DRP
        On Hold - Req Infomation  </Description>\r\n      <Officer> Greg Sherlock</Officer>\r\n
        \     <DateOpen>2019-05-29T10:06:00+10:00</DateOpen>\r\n      <DateDue>2019-06-06T00:00:00+10:00</DateDue>\r\n
        \     <Comment xml:space=\"preserve\">                                                                      </Comment>\r\n
        \     <StopClock>N</StopClock>\r\n      <ApplicationIdS>010.2019.00000135.001</ApplicationIdS>\r\n
        \   </Event>\r\n  </Application>\r\n  <Application>\r\n    <ApplicationId>010.2019.00000136.001
        </ApplicationId>\r\n    <NatureOfApplication>Development Application</NatureOfApplication>\r\n
        \   <NatureOfApplicationType>10</NatureOfApplicationType>\r\n    <Category>Mixed
        Development                       </Category>\r\n    <ReferenceNumber>DA 136/19</ReferenceNumber>\r\n
        \   [...]
